@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");


*{
  font-family: 'Satoshi', sans-serif;
  font-size: 13px;
}
.primary_btn{
  background-color: white;
  padding: 8px 20px;
  color: black;
  border-radius: 6px;
}

.secondary_btn{
  background-color: black;
  padding: 8px 20px;
  color: white;
  border-radius: 6px;

}

.title{
  font-weight: 700;
  font-size: 30px;
}

